IPL stats extraction from 2021 to 2024, because in these years many new players emerged and the way of playing cricket is changed.

In [1]:
# Load Dataset
import pandas as pd
dataset = pd.read_csv("Dataset/IPL_Meta_Data.csv")
df = dataset
metadata = dataset
# dataset.head()

C:\Users\niran\AppData\Local\Temp\ipykernel_9788\3160474569.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("Dataset/IPL_Meta_Data.csv")

In [2]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1426312,2024,5/26/2024,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.1,Sunrisers Hyderabad,Kolkata Knight Riders,Abhishek Sharma,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1426312,2024,5/26/2024,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.2,Sunrisers Hyderabad,Kolkata Knight Riders,Abhishek Sharma,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1426312,2024,5/26/2024,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.3,Sunrisers Hyderabad,Kolkata Knight Riders,Abhishek Sharma,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1426312,2024,5/26/2024,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.4,Sunrisers Hyderabad,Kolkata Knight Riders,Abhishek Sharma,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1426312,2024,5/26/2024,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.5,Sunrisers Hyderabad,Kolkata Knight Riders,Abhishek Sharma,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,bowled,Abhishek Sharma,NaN,NaN

In [3]:
df.count()

match_id                  260920
season                    260920
start_date                260920
venue                     260920
innings                   260920
ball                      260920
batting_team              260920
bowling_team              260920
striker                   260920
non_striker               260920
bowler                    260920
runs_off_bat              260920
extras                    260920
wides                       8381
noballs                     1093
byes                         673
legbyes                     4001
penalty                        2
wicket_type                12950
player_dismissed           12950
other_wicket_type              0
other_player_dismissed         0
dtype: int64

In [4]:
# Here we are filtering om;y innings 1 and 2 because other numbers innings denotes the super overs
filtered_innings = df[df['innings'].isin([1,2])]
filtered_innings.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1426312,2024,5/26/2024,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.1,Sunrisers Hyderabad,Kolkata Knight Riders,Abhishek Sharma,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1426312,2024,5/26/2024,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.2,Sunrisers Hyderabad,Kolkata Knight Riders,Abhishek Sharma,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1426312,2024,5/26/2024,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.3,Sunrisers Hyderabad,Kolkata Knight Riders,Abhishek Sharma,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1426312,2024,5/26/2024,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.4,Sunrisers Hyderabad,Kolkata Knight Riders,Abhishek Sharma,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1426312,2024,5/26/2024,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.5,Sunrisers Hyderabad,Kolkata Knight Riders,Abhishek Sharma,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,bowled,Abhishek Sharma,NaN,NaN

In [5]:
# Here we are filtering only last 4 season to get the latest stats of a player
filtered_seasons = filtered_innings[filtered_innings['season'].isin([2021,2022,2023,2024])]

In [6]:
filtered_seasons.count()

match_id                  65524
season                    65524
start_date                65524
venue                     65524
innings                   65524
ball                      65524
batting_team              65524
bowling_team              65524
striker                   65524
non_striker               65524
bowler                    65524
runs_off_bat              65524
extras                    65524
wides                      2467
noballs                     312
byes                        160
legbyes                     868
penalty                       0
wicket_type                3325
player_dismissed           3325
other_wicket_type             0
other_player_dismissed        0
dtype: int64

In [7]:
filtered_seasons.nunique()

match_id                  272
season                      4
start_date                220
venue                      20
innings                     2
ball                      180
batting_team               11
bowling_team               11
striker                   300
non_striker               294
bowler                    232
runs_off_bat                7
extras                      6
wides                       5
noballs                     1
byes                        3
legbyes                     4
penalty                     0
wicket_type                10
player_dismissed          270
other_wicket_type           0
other_player_dismissed      0
dtype: int64

Getting all the players list

In [8]:
# players_list = df['striker'].append(df['non_striker']).append(df['bowler']).unique()

In [9]:
list_1 = filtered_seasons['striker'].unique()
list_2 = filtered_seasons['non_striker'].unique()
list_3 = filtered_seasons['bowler'].unique()

all_players = pd.unique(pd.concat([pd.Series(list_1), pd.Series(list_2), pd.Series(list_3)]))
players_list = pd.DataFrame(all_players, columns=['player_name'])

In [10]:
players_list.count()

player_name    334
dtype: int64

Now calculate the runs scored and balls faced by each player in each seasons

In [11]:
# Storing filtered_seasons in a new vairable for better understanding
four_seasons_data = filtered_seasons

In [12]:
# Create pivot table for runs scored
runs_data = four_seasons_data.pivot_table(index='striker', columns='season', values='runs_off_bat', aggfunc='sum', fill_value=0)
runs_data.reset_index(inplace=True)
runs_data.fillna('DNP', inplace=True)
runs_data.rename(columns={2021: 'runsin2021', 2022: 'runsin2022', 2023: 'runsin2023', 2024: 'runsin2024'}, inplace=True)

In [13]:
# Create pivot table for balls faced
balls_faced_df = four_seasons_data.pivot_table(index='striker', columns='season', values='runs_off_bat', aggfunc='count', fill_value=0)
balls_faced_df.reset_index(inplace=True)
balls_faced_df.rename(columns={2021: 'ballsfacedin2021', 2022: 'ballsfacedin2022', 2023: 'ballsfacedin2023', 2024: 'ballsfacedin2024'}, inplace=True)

In [14]:
# Merge the two DataFrames
batting_data = pd.merge(runs_data, balls_faced_df, on='striker')

In [15]:
batting_data.head()

season,striker,runsin2021,runsin2022,runsin2023,runsin2024,ballsfacedin2021,ballsfacedin2022,ballsfacedin2023,ballsfacedin2024
0,A Badoni,0,161,238,235,0,139,186,180
1,A Kamboj,0,0,0,2,0,0,0,2
2,A Manohar,0,108,114,9,0,79,86,16
3,A Mishra,0,0,19,0,0,0,30,0
4,A Nortje,0,1,37,4,0,7,29,9

In [20]:
# batting_data.to_csv("filtered_batting_data.csv")

Now calculate the wickets taken by each bowler and bowling economy in each seasons

In [17]:
# # Define wicket types
wicket_types = ['bowled', 'caught', 'caught and bowled', 'hit wicket', 'lbw', 'stumped']

# # Filter DataFrame for specified wicket types
wickets_df = four_seasons_data[four_seasons_data['wicket_type'].isin(wicket_types)]

# # Create pivot table for wickets taken
wickets_pivot_df = wickets_df.pivot_table(index='bowler', columns='season', values='wicket_type', aggfunc='count', fill_value=0)
wickets_pivot_df.reset_index(inplace=True)
wickets_pivot_df.rename(columns={2021: 'wicketsin2021', 2022: 'wicketsin2022', 2023: 'wicketsin2023', 2024: 'wicketsin2024'}, inplace=True)

# # Create pivot table for balls bowled
balls_bowled_df = four_seasons_data.groupby(['bowler', 'season'])['ball'].count().unstack().fillna(0)
balls_bowled_df.reset_index(inplace=True)
balls_bowled_df.rename(columns={2021: 'ballsbowledin2021', 2022: 'ballsbowledin2022', 2023: 'ballsbowledin2023', 2024: 'ballsbowledin2024'}, inplace=True)

# # Calculate total runs conceded
four_seasons_data['total_runs'] = four_seasons_data[['runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes', 'penalty']].sum(axis=1)

# # Create pivot table for runs conceded
given_df = four_seasons_data.groupby(['bowler', 'season'])['total_runs'].sum().unstack().fillna(0)
given_df.reset_index(inplace=True)
given_df.rename(columns={2021: 'givenin2021', 2022: 'givenin2022', 2023: 'givenin2023', 2024: 'givenin2024'}, inplace=True)

# # Merge the DataFrames
combined_df = pd.merge(wickets_pivot_df, balls_bowled_df, on='bowler')
combined_df = pd.merge(combined_df, given_df, on='bowler')

# # Create the result tuple
# result = (combined_df, 'Wickets Taken, Balls Bowled, and Runs Conceded by Each Bowler in Each Season', 'Wickets taken, balls bowled, and runs conceded by each bowler in each season')

# # Display the result
# print(result)

C:\Users\niran\AppData\Local\Temp\ipykernel_9788\727688278.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  four_seasons_data['total_runs'] = four_seasons_data[['runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes', 'penalty']].sum(axis=1)

In [18]:
combined_df.head()

season,bowler,wicketsin2021,wicketsin2022,wicketsin2023,wicketsin2024,ballsbowledin2021,ballsbowledin2022,ballsbowledin2023,ballsbowledin2024,givenin2021,givenin2022,givenin2023,givenin2024
0,A Badoni,0,2,0,0,0.0,12.0,1.0,12.0,0.0,13.0,0.0,25.0
1,A Kamboj,0,0,0,2,0.0,0.0,0.0,68.0,0.0,0.0,0.0,124.0
2,A Mishra,6,0,7,1,66.0,0.0,115.0,12.0,82.0,0.0,154.0,20.0
3,A Nortje,12,9,10,7,187.0,143.0,251.0,140.0,222.0,230.0,387.0,310.0
4,A Zampa,0,0,8,0,0.0,0.0,133.0,0.0,0.0,0.0,192.0,0.0

In [21]:
# combined_df.to_csv("filtered_bowling_data.csv")

Merge two datasets: batting_data and combined_df

In [24]:
merged_df = pd.merge(batting_data, combined_df, left_on='striker', right_on='bowler',how='left')

In [25]:
# merged_df.to_csv("mergeddataset.csv")