Comprehensive Analysis of the Indian Premier League and Projecting the Optimal Squad for the 2025 Season

In [27]:
# Load Dataset
import pandas as pd
dataset = pd.read_csv("Dataset/IPL_Meta_Data.csv")
df = dataset
metadata = dataset
# dataset.head()

C:\Users\niran\AppData\Local\Temp\ipykernel_9280\3160474569.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("Dataset/IPL_Meta_Data.csv")

This dataset contains information about the IPL data, contains ball by ball data from 2008 to 2024.

In [6]:
# This is the sample data
dataset.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1426312,2024,5/26/2024,"MA Chidambaram Stadium, Chepauk, Chennai",1,0.1,Sunrisers Hyderabad,Kolkata Knight Riders,Abhishek Sharma,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We are cleaning the data and trying to create different tables namely:
Player Table 
Batsman table,
Bowlers table, 
Fielding table, 
matches table

In [8]:
# Column names and Data types 
dataset.dtypes

match_id                    int64
season                     object
start_date                 object
venue                      object
innings                     int64
ball                      float64
batting_team               object
bowling_team               object
striker                    object
non_striker                object
bowler                     object
runs_off_bat                int64
extras                      int64
wides                     float64
noballs                   float64
byes                      float64
legbyes                   float64
penalty                   float64
wicket_type                object
player_dismissed           object
other_wicket_type         float64
other_player_dismissed    float64
dtype: object

1. Players Table: 
table name: player_info

In [40]:
# Combine 'striker' and 'non_striker' columns into a single list of unique players
unique_players = pd.concat([dataset['striker'], dataset['non_striker'], dataset['bowler']]).drop_duplicates().sort_values()

# Create an empty table with columns for player, seasons, and teams
player_info = pd.DataFrame(columns=['player', 'seasons'])

# For each player in the list of unique players
for player in unique_players:
    # Select rows from the data where the player is either the 'striker' or 'non_striker'
    player_rows = dataset[(dataset['striker'] == player) | (dataset['non_striker'] == player) | (dataset['bowler'] == player)]

    # Identify the unique seasons in which the player participated
    seasons = player_rows['season'].unique()

    # Add a new row to the table with the player's name, seasons, and teams
    # player_info = player_info.append({'player': player, 'seasons': seasons, 'teams': teams}, ignore_index=True)
        # Create a temporary DataFrame for the player's information
    temp_df = pd.DataFrame({'player': [player], 'seasons': [seasons]})

    # Concatenate the temporary DataFrame with the player_info DataFrame
    player_info = pd.concat([player_info, temp_df], ignore_index=True)

print(player_info.head())

           player                   seasons
0  A Ashish Reddy  [2016, 2015, 2013, 2012]
1        A Badoni        [2024, 2023, 2022]
2      A Chandila              [2013, 2012]
3        A Chopra           [2009, 2007/08]
4     A Choudhary                    [2017]